apiVersion: apps/v1
kind: Deployment
metadata:
  name: cv-me
  labels:
    app: cv-me
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cv-me
  template:
    metadata:
      labels:
        app: cv-me
    spec:
      containers:
        - name: cv-me
          image: sujiththirumalaisamy/cv:f5e6e4508b9ee62245816400ce693854f2ed0a58
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
