apiVersion: apps/v1
kind: Deployment
metadata:
  name: cv-me
  labels:
    app: cv-me
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cv-me
  template:
    metadata:
      labels:
        app: cv-me
    spec:
      containers:
        - name: cv-me
          image: sujiththirumalaisamy/cv:322b1bc2abdd89f7529c45cd3e2627ffb9e7123a
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
