apiVersion: apps/v1
kind: Deployment
metadata:
  name: cv-me
  labels:
    app: cv-me
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: cv-me
  template:
    metadata:
      labels:
        app: cv-me
    spec:
      containers:
        - name: cv-me
          image: sujiththirumalaisamy/cv:7f3f6edddb0e621678b05609f0f2b769451e552d
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 10 
