apiVersion: apps/v1
kind: Deployment
metadata:
  name: vs-be
  labels:
    app: vs-be
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: vs-be
  template:
    metadata:
      labels:
        app: vs-be
    spec:
      containers:
        - name: vs-be
          image: sujiththirumalaisamy/vector-shift-be:1369fecf7e635ebbae6f4f97a8376bcd39d66a8a
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          envFrom:
            - secretRef:
                name: vs-secret
          livenessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 10
