apiVersion: apps/v1
kind: Deployment
metadata:
  name: vs-be
  labels:
    app: vs-be
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: vs-be
  template:
    metadata:
      labels:
        app: vs-be
    spec:
      containers:
        - name: vs-be
          image: sujiththirumalaisamy/vector-shift-be:f7e883f4afeca22b5d2cc99a8b792e44a10ea873
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          envFrom:
            - secretRef:
                name: vs-secret
          livenessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 15
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: vs-be-service
spec:
  selector:
    app: vs-be
  ports:
    - port: 80
      targetPort: 8000
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: vs-be-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  tls:
    - hosts:
        - vs-be.isujith.dev
      secretName: vs-be-cert
  rules:
    - host: vs-be.isujith.dev
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: vs-be-service
                port:
                  number: 80
