apiVersion: apps/v1
kind: Deployment
metadata:
  name: wisecow
  labels:
    app: wisecow
spec:
  replicas: 2
  selector:
    matchLabels:
      app: wisecow
  template:
    metadata:
      labels:
        app: wisecow
    spec:
      containers:
        - name: wisecow
          image: sujiththirumalaisamy/wisecow:ad2a750824b27a9810e88bded06837c39ef65d53
          imagePullPolicy: Always
          ports:
            - containerPort: 4499
          livenessProbe:
            httpGet:
              path: /
              port: 4499
          readinessProbe:
            httpGet:
              path: /
              port: 4499
